@import './editor-theme/base16-dark.scss';
@import './editor-theme/base16-light.scss';

.cmarkdown-editor-wrap {
  display:flex;
  position: relative;
  margin: 100px auto;
  width:80%;
  height: 800px;
  padding-top:50px;
  padding-bottom:30px;
  border:1px solid $themColor;
  border-radius:3px;
  font-size:16px;
  .editor-tool {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 50px;
    background-color:#333;
  }
  .editor-code,
  .editor-preview {
    flex:1;
    height: 100%;
  }
  .editor-code {
    form,
    .CodeMirror {
      height: 100%;
    }
  }
  .editor-status {
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height: 30px;
    background-color:#333;
  }


  /** 全屏状态下 start */
  &.fullscreen {
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    margin:0;
    z-index: 9999;
  }
  /** 全屏状态下 end */

  /** 代码和预览都显示 start */
  &.show-all {
    .editor-code,
    .editor-preview {
      display:block;
    }
  }
  /** 代码和预览都显示 end */

  /** 只显示 markdown start */
  &.only-markdown {
    .editor-code {
      display:block;
    }
    .editor-preview {
      display:none;
    }
  }
  /** 只显示 markdown end */

  /** 只显示预览 start */
  &.only-preview {
    .editor-code {
      display:none;
    }
    .editor-preview {
      display:none;
    }
  }
  /** 只显示预览 start */
}
