
//========================================
// 编辑器 `滚动条` 样式设置.
//
// @update 2019/1/18
// @author Jesonhu(github)
// @email jesonhu_web@163.com
//========================================
@media (-webkit-max-device-pixel-ratio: 1) {
    
    .CodeMirror-vscrollbar,
    .cool-md-editor-wrap .editor-md,
    .cool-md-editor-wrap .editor-preview {
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px
        }
        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            min-height: 28px
        }
    }

    // `圣光`主题
    .editor-theme-light .CodeMirror-vscrollbar,
    .cool-md-editor-wrap.editor-theme-light .editor-md,
    .cool-md-editor-wrap.editor-theme-light .editor-preview {
        &::-webkit-scrollbar-track-piece {
            background-color:#FFF
        }
        &::-webkit-scrollbar-thumb {
            background-color: #c2c2c2;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #A0A0A0
        }
    }

    // `暗黑`主题
    .editor-theme-dark .CodeMirror-vscrollbar,
    .cool-md-editor-wrap.editor-theme-dark .editor-md,
    .cool-md-editor-wrap.editor-theme-dark .editor-preview {
        &::-webkit-scrollbar-track-piece {
            background-color:#FFF
        }
        &::-webkit-scrollbar-thumb {
            background-color: #c2c2c2;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #A0A0A0
        }
    }
}