//========================================
// 编辑器变量设置.
//
// @update 2019/1/18
// @author Jesonhu(github)
// @email jesonhu_web@163.com
//========================================

$themeDark: #333;
$themeLight: #d2d2d2;
$themColor: $themeLight;