//========================================
// 编辑器 `markdonw内容` 样式.
//
// @update 2019/1/18
// @author Jesonhu(github)
// @email jesonhu_web@163.com
//========================================

// theme
@import '../theme/base16-dark.scss';
@import '../theme/base16-light.scss';

// 公共样式
.cool-md-editor-wrap {
  .editor-md {
    form,
    .CodeMirror {
      height: 100%;
    }
  }
}

// `圣光主题`
.editor-theme-light {
  .editor-md {
    background-color:$themeLight;
  }
}

// `暗黑主题`
.editor-theme-dark {
  .editor-md {
    background-color:$themeLight;
  }
}