//========================================
// 编辑器 `状态条` 样式.
//
// @update 2019/1/18
// @author Jesonhu(github)
// @email jesonhu_web@163.com
//========================================

// 公共样式
.cool-md-editor-wrap {
  .editor-status {
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height: 30px;
    display:flex;
    line-height: 30px;
    align-items: center;
    padding: 0 10px;

    .editor-status-positon {
      width: 80%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-right: 10px;

      .icon-theme {
        width: 45px;
        text-align: center;
        box-sizing: border-box;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        cursor: pointer;
      }
    }
    
    .editor-status-length {
      width: 20%;
    }
  }
}

// `圣光主题`
.editor-theme-light {
  .editor-status {
    background-color:$themeLight;

    .editor-status-positon {
      .icon-theme {
        border-left-color: #c7bebe;
        border-right-color: #c7bebe;
      }
    }
  }
}

// `暗黑主题`
.editor-theme-dark {
  .editor-status {
    background-color:$themeDark;
    color:#fff;

    .editor-status-positon {
      .icon-theme {
        border-left-color: #fff;
        border-right-color: #fff;
      }
    }
  }
}